
.ntcSlideAbaixo img, .ntcSlideAbaixodireita{
    /* max-height: 110px; */
    /* border: 1px solid red; */
    /* margin-top: 0; */
    /* display: block; */
    width: 100%;
    max-height: 115px;
    height: 115px;
    margin-top: 0 !important;
    background-image: url('https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg');
}
.noticiaTextoTop{
    margin-top: 60px !important;
}