<h1 class="tituloSecao">Destaque</h1>
<ng-content>
    <ul *ngFor="let noticia of noticias; let i = index">
        <li>
            <a [routerLink]="['/noticia', noticia.id]" >
            <div class="grid items">
                <div class="col-1 numeral">
                    <span>{{i+1}}</span>
                </div>
                <div class="col-11">
                    <p class="noticiatitulo titulo">{{noticia.titulo}}</p>
                    <p class="subtitulo">{{noticia.subtitulo}}</p>
                </div>
            </div>
        </a>
        </li>
    </ul>
</ng-content>