<h1 class="tituloSecao">Noticias</h1>
<ul *ngFor="let noticia of noticias; let i = index">
    <li class="items">
        <a [routerLink]="['/noticia', noticia.id]" >

            <div class="grid">
                <div class="col-3 imgNtcLateral">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/product/lime-band.jpg" />
                </div>
                
                <div class="col-9 imgNtcLateralInfo">
                    <p>{{noticia?.date  | date :'dd/MM/yyyy'  }} </p>
                    <p class="noticiatitulo titulo">{{noticia?.titulo}}</p>
                    <p class="subtitulo">{{noticia?.subtitulo}}</p>
                </div>
                
            </div>
            
        </a>
    </li>
</ul>