












p{
    background-color: violet;
}
.listaNoticias{
    background-color: red;
    margin-top: 5px;
    height: 120px;
}
.imgNtcLateral img{
    max-width: 100%;
    max-height: 100%;
}
.imgNtcLateralInfo{
    height: 120px;
    margin-top: 7px;
    background-color: violet;
}
.noticiatitulo{
    margin-top: 20px;
}
.dataNoticia{
    font-family: 'fonteTexto';
}
.noticia{
    background-color: tomato;
}
.lateral{
    background-color: blueviolet;
}
.numeral{
    font-size: 2em;
    padding-right: 10px;
}
.items{
    margin-bottom: 5px;
}
