<app-navegacao></app-navegacao>
<div class="grid" style="margin: 0; padding: 0;">
    <div class="col-7 col-offset-1 noticia" >
       <div *ngFor="let ntc of noticia">
            <h1>{{ntc.titulo}}</h1>  
            <h2>{{ntc.subtitulo}}</h2>
            <h3>{{ntc.date}}</h3>
            <p>{{ntc.texto}}</p>
            <img [src]="ntc.foto" alt="">

        </div>
    </div>
    <div class="col-3 ntctopNoticia lateral">
        <app-noticia-lateral [noticias]="noticias"></app-noticia-lateral>
    </div>
</div>
